*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
   
}

.container{
display: grid;
grid-template-columns: 50px 50px 50px 50px;
grid-template-rows: auto;
grid-template-areas:
"header header header header"
"About About About Menu"
"Porfolio Portfolio Portfolio Portfolio"
}

header{
    text-align: center;
    font-size: 96px;
    border-bottom: 5px solid black;
    color: black;
    text-decoration: none;
}

.home{
  text-align: left;
  font-size: 36px;
  color: black;
  border-bottom: none;
  position: absolute;
  top: 55px;
  left: 50px;
}

.home:hover{
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #636ed7;
}

header a {
    text-decoration: none;
}

header a:visited{
    text-decoration: none;
    color: black;
}



.nav-menu{
    position: absolute;
  top: 200px; 
  right: 0px;
  width: 150px;
  background-color: #e0e0e0; 
  padding: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}

.nav-menu ul {
    text-align: center;
}

.menu-items{
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.menu-items li {
    margin-bottom: 25px;
    margin-top: 25px;
}

.menu-items li:hover
   {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #636ed7;
}



.nav-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.about-me {
    max-width: 1000px;
    margin: 60px auto;
    padding: 20px;
  }
  
  .about-me h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .about-content {
    display: flex;
    gap: 30px;
    align-items: flex-start;
  }
  
  .about-content img {
    width: 200px;
    height: 300px;
    border-radius: 10px; 
    object-fit:cover;
  }
  
  .about-content p {
    flex: 1;
    font-size: 30px;
    line-height: 1.6;
  }

  .portfolio {
    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;
  }
  
  
  
  
  .portfolio-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
  }
  
  .portfolio-card {
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease;
  }
  
  .portfolio-card:hover {
    transform: translateY(-5px);
  }
  
  .portfolio-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .portfolio-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    
  }
  
  .portfolio-card p {
    font-size: 16px;
    line-height: 1.5;
  }

  .iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    background-color: #000;
  }
  
  .iframe-container2 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    background-color: #ebebeb;
  }

  .aspect-iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
  }

  

  .EmbedShareProjectCover-container-Sgb {
    width: 100%
  }


  /* Contact Info Page */

  .contactinfo {
    display: flex;
    justify-content: center;
  }
  
  .contactinfo h2 {
    position: absolute;
    justify-content: center;
  }



  .email {
    position: relative;
    top: 50px;
    left: 105px;
  }

  .linkedin {
    position: relative;
    top: 88px;
    left: -15px;
    text-decoration: none;
    color: black;
  }

.linkedin a:visited{
  text-decoration: none;
  color: black;
}

.linkedin a{
  text-decoration: none;
  color: black;
}

.linkedin button{

    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 10px 10px 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .badge-base{
    position: absolute;
    left: 200px;
    bottom: 340px;
   
    
    display: inline;
  }


  .address{
    position: relative;
    top: 100px;
    right: 59px;
  }

  .addresstwo{
    position: relative;
    top: 120px;
    right: 160px;
  }



form {
margin-top: 225px;
width: 95%;
margin-left: 45px;
padding-right: 120px;
margin-bottom: 100px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */}

 /* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #76dc7b;
}


  /*Resume Page*/

  .download{
    position: absolute;
    top: 410px; 
    right: 28px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-decoration: none;
    

  }

  .download a{
    text-decoration: none;
    color: black;
  }

  .download ul{
list-style: none;
  }


 button{ 
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;

  color: #3a4149;
  background: #e0e0e0;
  line-height: 1.15;
  font-size: 16px;}

  .download li:hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #636ed7;
  }

  

  
