
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
}
body {
    background-image: url(/assignments/images/webb\ background.png);
    
}


/********** Layout ********/


.container {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr);
    width: min(95%, 75em);
    margin: 0 auto;
    padding: 0 20px;
}
.container > * {
grid-column: span 12;


}

/************Desktop Layout */


@media screen and (min-width: 40em) {
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
    }
}

header {
    text-align: left;
    background-color:  dodgerblue;
    color: white;
    padding: 30px 40px;
}

h1 {
    text-transform: uppercase;
    font-size: clamp(32px, 4vw, 48px);
}

h2 {
    font-size: 36px;
    
}
h3 {
    font-size: 24px;
}

aside { 
   
}

img {
    width: 100%;
}

img.circle {
width: 100%; 
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center top;
    border-radius: 999px;
    border: 6px solid dodgerblue;

}

/*navigation*/

.menu-items li a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}
